{% extends 'base.html' %}

{% block title %} | Administration {% endblock %}
{% block content %}
{% load static %}
<style>
  h1
  {
    font-weight: 900;
    color:#2980b9;

  }
</style>

<section
    class="vh-500 p-4 bg-white m-5"
    style="margin-top: 10rem !important"
>
    <div class="">
    <a href="/" class="tenh">Home</a> > Administrative Section
        <h1>
          Administrative
        </h1>
        <br><br>

        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Email Id(@ncpor.res.in)</th>
                    <th scope="col">Desk No</th>

                </tr>
            </thead>
            <tbody>
                {% for sln in ad %}
                <tr>
                    <th scope="row">{{sln.sl_No}}</th>
                    <td>{{sln.name}} </td>
                    <td>{{sln.designation}}</td>
                    <td>{{sln.email_id}} </td>
                    <td>{{sln.desk_no}}</td>
                </tr>
                  {% endfor %}
            </tbody>
        </table>
          </div>
    </div>

</section>


{% endblock %}
